# Fichier render.yaml pour la configuration des services
services:
  # Configuration de l'API Web
  - type: web
    name: pep-registry-api
    env: docker
    repo: https://github.com/Ibtissamlot/PEP_REGISTRY_MA
    branch: main
    rootDir: .
    dockerContext: .
    plan: starter # Ou le plan que vous utilisez

  # Configuration du Cron Job
  - type: cron
    name: pep-registry-ma
    env: docker
    repo: https://github.com/Ibtissamlot/PEP_REGISTRY_MA
    branch: main
    rootDir: .
    dockerContext: .
    plan: starter # Ou le plan que vous utilisez
    schedule: "0 0 * * *" # Exemple : tous les jours à minuit (ajustez si nécessaire )
    # LIGNE SUPPRIMÉE : command: "python src/etl/run_etl.py"

